body {
    background-color: black;
    color: black;
    font-family: "inter";
    font-size: "20px";
  }
  
  .login > h1 {
    margin: 20px 20px;
  }
  
  .bg {
    background: url("https://media.giphy.com/media/oyhVXj4dpnztuN6jCd/giphy.gif");
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  
  .login {
    background-color: rgba(155, 194, 238, 0.8);
    width: 400px;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(153, 153, 158, 0.158), 0 6px 20px 0 rgb(7, 2, 36);
  }
  
  .login input[type="text"],
  .login input[type="password"] {
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    width: 250px;
    background: none;
    border: 2px solid black;
    border-radius: 15px;
    transition: 0.8s;
  }
  
  .login input[type="text"]:focus,
  .login input[type="password"]:focus {
    border-left: 40px solid rgba(70, 63, 63, 0.479);
  }
  
  .login input[type="button"] {
    background: none;
    border: 2px solid black;
    padding: 10px 10px;
    width: 100px;
    margin: 10px 10px;
    border-radius: 15px;
    transition: 0.6s;
  }
  
  .login input[type="button"]:hover {
    background-color: rgb(0, 0, 0);
    color: lightblue;
  }